.contacts {
    min-height: 420px;
    background-color: #191D28;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__firstpart {
        margin-top: 50px
    }
    &__logo {
        filter: drop-shadow( 1px 2px 1px $main-color);
        width: 217px;
        height: 90px;
        img {
            width: 100%;
        }
    }
    &__descr {
        width: 217px;
        height: 100px;
        font-style: italic;
        font-size: 13px;
        color: #CCCCCC;
        text-align: center;
    }
    &__secondpart {
        margin-top: 50px;
    }
    &__title {
        text-align: center;
        color: #CCCCCC;
        font-weight: 700;
        font-size: 20px;
    }
    &__adress {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        &-icon {
            padding: 0 7px;
        }
        &-text {
            color: #CCCCCC;
            font-weight: 400; 
        }
    }
    &__divider {
        margin-top: 100px;
    }
    &__footer {
        padding-top: 10px;
        color: #CCCCCC;
        text-align: center;
    }
    &__designed {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-info {
            color: #CCCCCC;
            padding-right: 5px;
        }
        &-site {
            color: $main-color;
        }
    }
}