.header {
    min-height: 150px;
    &__info {
        margin-top: 15px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
    }
    &__adress {
        display: flex;
        flex-direction: row;
        &-icon {
            padding: 0 7px;
        }
    }
    &__mail {
        display: flex;
        flex-direction: row;
        &-icon {
            padding: 0 7px;
        }
    }
    &__language {
        padding-left: 650px;
    }
    &__divider {
        span {
            display: block;
            width: 100%;
            height: 1px;
            background: #EEEEEE;
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
        &-logo {
            width: 217px;
            height: 90px;
            img {
                width: 100%;
            }
        }
        &-menu {
            width: 500px;
            padding-top: 35px;
            &-link {
                display: flex;
	            justify-content: space-between;
	            margin: 0;
	            list-style-type: none;
                &_info {
                    text-decoration-line: none;
                    color: black;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
}