.title {
    font-size: 70px;
    font-weight: 700;
    color: #191D28;
    &_fz14 {
        font-size: 14px;
    }
    &_fz16 {
        font-size: 16px;
    }
    &_fz25 {
        font-size: 25px;
        text-align: center;
        color: $main-color;
        margin-bottom: 20px;
        filter: drop-shadow( 0px 1px 1px black  );
    }
    &_fz40 {
        font-size: 40px;
        position: relative;
        text-align: center;
        padding-top: 30px;
        @include before_circle;
        &:before {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}