@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import './variables';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@import './header';
@import './title';
@import './promo';